.button {
  display: block;
  box-sizing: border-box;
  padding: 14px 35px;

  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background: none;
  background-color: $lightgreen;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  transition: transform 0.2s ease-in-out;

  @include bold(14px, 1.5em, $white);

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}
