@media (min-width: $tablet-width) and (max-width: $only-portable) {
  .cities {
    position: relative;

    display: block;
    box-sizing: border-box;
    min-width: 168px;
    margin: 0;
    padding: 0;
    padding-top: 36px;

    list-style: none;
    color: rgba(0, 0, 0, 0);

    visibility: hidden;

    transition: 0.2s ease-in-out;

    &--visible {
      color: $blue;

      visibility: visible;
    }

    &--no-js {
      color: $blue;

      visibility: visible;
    }
  }

  .cities__item {
    box-sizing: border-box;
    margin-bottom: 20px;

    @include regular(14px, 1.2em, inherit);

    &--current {
      position: absolute;
      top: 0;
      left: 0;

      background-image: url("../img/nav/nav-vector.svg");
      background-repeat: no-repeat;
      background-position: right center;
      visibility: visible;

      @include bold(14px, 1.2em, $blue);
    }
  }

  .cities__link {
    display: block;
    box-sizing: border-box;
    max-width: 168px;
    padding-right: 22px;

    font: inherit;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;

    &:hover {
      font-weight: bold;
    }

    &:focus {
      font-weight: bold;
    }
  }
}

@media (min-width: $desktop-width) {
  .cities {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .cities__item {
    box-sizing: border-box;

    text-transform: uppercase;

    @include regular(14px, 1.2em, $white);

    &:hover {
      font-weight: bold;
    }

    &:focus {
      font-weight: bold;
    }

    &--current {
      font-weight: bold;
    }

    &:first-child {
      color: $blue;
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  .cities__link {
    box-sizing: border-box;

    font: inherit;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }

    &:focus {
      font-weight: bold;
    }
  }
}
