.container {
  box-sizing: border-box;
  width: 320px;
  // width: 768px;
  // width: 1440px;
  width: 100%;
  // min-width: 769px;
  // max-width: 1439px;
  // max-width: 767px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}
