.cost-included {
  box-sizing: border-box;
  padding: 190px 20px 24px;

  background-image: url("../img/cost-included/bg-cost-included-mobile.svg");
  background-repeat: no-repeat;
  background-position: -425px 0;
}

.cost-included__heading {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 66px;

  text-align: center;

  @include bold(24px, 1.25em, $white);
}

.cost-included__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

.cost-included__item {
  box-sizing: border-box;
  min-height: 350px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 52px;

  background-color: $white;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(47, 55, 237, 0.12);

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &--manuals {
    padding-top: 206px;

    background-image: url("../img/cost-included/manual@1x.png");
    background-position: 44px 60px;
    background-size: 168px 118px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/cost-included/manual@2x.png");
    }
  }

  &--subscription {
    padding-top: 206px;

    background-image: url("../img/cost-included/subscription@1x.png");
    background-position: 50px 42px;
    background-size: 80px 80px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/cost-included/subscription@2x.png");
    }
  }

  &--video {
    padding-top: 54px;
    padding-bottom: 60px;
  }

  &--chat {
    padding-top: 130px;
    padding-bottom: 44px;

    background-image: url("../img/cost-included/smile@1x.png");
    background-position: 50px 42px;
    background-size: 72px 72px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/cost-included/smile@2x.png");
    }
  }
}

.cost-included__item-heading {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 14px;

  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include regular(14px, 1.44em, $blue);
}

.cost-included__item-description {
  box-sizing: border-box;
  margin: 0;

  @include regular(14px, 1.44em, $lightgrey);
}

.cost-included__video {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 178px;
  height: 166px;
  margin-right: auto;
  margin-bottom: 34px;
  overflow: hidden;

  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    box-sizing: border-box;
    width: 50px;
    height: 50px;

    background-image: url("../img/cost-included/play-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 50px 50px;
    transform: translate(-50%, -50%);
    opacity: 0.5;

    transition: 0.2s ease-in-out;
  }
}

@media (min-width: $tablet-width) {
  .cost-included {
    padding: 154px 94px 232px;

    background-image: url("../img/cost-included/bg-cost-included-tablet.svg");
    background-position: -247px -16px;
  }

  .cost-included__heading {
    margin-bottom: 58px;

    font-size: 30px;
  }

  .cost-included__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cost-included__item {
    width: 282 / 580 * 100%;
    margin-bottom: 16px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &--subscription {
      background-position: 54px 60px;
    }
  }
}
