.pricing {
  box-sizing: border-box;
  padding: 32px 20px 34px;
}

.pricing__heading {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 42px;

  text-align: center;

  @include bold(24px, 1.25em, $black);
}

.pricing__packages {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pricing__package {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 68px 42px 66px;

  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(47, 55, 237, 0.12);

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &--labeled::before {
    content: "Выгодно";
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 62px;
    height: 62px;
    overflow: hidden;

    text-transform: uppercase;

    background-color: $blue;
    border-radius: 50%;

    @include bold(8.22px, 1.25em, $white);
  }
}

.pricing__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.pricing__name {
  order: 2;
  box-sizing: border-box;
  margin: 0;

  font-weight: 600;

  @include regular(16px, 1.59em, $blue);
}

.pricing__cost {
  order: 1;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 14px;

  @include bold(20px, 1.59em, $blue);
}

.pricing__order-button {
  order: 3;
  box-sizing: border-box;
  width: 196px;
}

@media (min-width: $tablet-width) {
  .pricing {
    padding: 32px 84px 34px;
  }

  .pricing__heading {
    margin-bottom: 64px;

    font-size: 30px;
  }

  .pricing__packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .pricing__package {
    width: 278 / 580 * 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &--labeled::before {
      top: -16px;
      right: -8px;

      width: 90px;
      height: 90px;

      font-size: 12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .pricing {
    padding: 34px 270px;
  }


  .pricing__packages {
    justify-content: space-between;
  }

  .pricing__package {
    width: auto;

    &:not(:last-child) {
      width: 270px;
      margin-bottom: 42px;
    }

    &:last-child {
      width: 570px;
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
      padding: 45px 84px;
    }
  }

   .pricing__package:last-child .pricing__description {
     margin-bottom: 0;
   }

  .pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 40px;
  }


  .pricing__name {
    font-style: 16px;
  }

  .pricing__cost {
    font-size: 25px;
    margin-bottom: 6px;
  }
}
