.promo__invite {
  box-sizing: border-box;
  margin-bottom: 54px;
}

.promo__place-n-date {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 24px;

  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include regular(12px, 1.25em, $white);
}

.promo__slogan {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 42px;

  @include bold(24px, 1.25em, $white);
}

.promo__note {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;

  @include regular(14px, 1.25em, $white);
}

.promo__join-button {
  min-width: 223px;

  background-clip: padding-box;
  border: 14px solid rgba(82, 209, 188, 0.5);
}

.promo__reviews-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo__review {
  box-sizing: border-box;
  width: 231px;
  height: 231px;
  margin: 0 auto;
  padding: 40px;
  padding-top: 45px;
  overflow: hidden;

  text-align: center;

  background-color: $white;
  background-image: url("../img/promo/bg-header-ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.promo__review-content {
  box-sizing: border-box;
  margin: 0;

  text-align: center;
}

.promo__review-text {
  display: block;
  box-sizing: border-box;
  margin-bottom: 2px;

  @include regular(14px, 1.5em, $blue);
}

.promo__review-rate {
  display: block;
  box-sizing: border-box;

  @include bold(34px, 1.5em, $blue);
}

.promo__review-author {
  display: block;
  box-sizing: border-box;
  margin-bottom: 4px;

  text-align: center;
}

.promo__review-name {
  display: block;
  box-sizing: border-box;
  margin-bottom: 2px;

  font-style: normal;

  @include regular(14px, 1.5em, $blue);
}

.promo__review-company {
  display: block;
  box-sizing: border-box;

  font-style: normal;

  @include bold(14px, 1.5em, $blue);
}

.promo__review-link {
  display: block;
  box-sizing: border-box;
  width: 84px;
  margin: 0 auto;

  text-decoration: none;

  background-image: url("../img/promo/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;

  @include regular(10px, 1.5em, $blue);
}

@media (min-width: $tablet-width) {
  .promo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-left: 28 / 768 * 100%;
    padding-left: calc(-145.983894997123px + 23.63808842511236%);
  }

  .promo__invite {
    margin-bottom: 0;
  }

  .promo__place-n-date {
    margin-bottom: 18px;

    font-size: 14px;
  }

  .promo__slogan {
    margin-bottom: 30px;

    font-size: 36px;
  }

  .promo__note {
    margin-bottom: 34px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.44em;
  }

  .promo__reviews-list {
    margin-top: 308px;
    margin-right: calc(-268.4025473867291px + 40.7321191088627%);
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-left: 55px;
  }

  .promo__place-n-date {
    font-size: 16px;
  }

  .promo__slogan {
    margin-bottom: 20px;

    font-size: 40px;
  }

  .promo__note {
    margin-bottom: 26px;
  }

  .promo__reviews-list {
    margin-top: 280px;
    margin-right: 318px;
  }
}
