.reviews {
  box-sizing: border-box;
  padding: 82px 8px;

  background-image: url("../img/reviews/bg-reviews-mobile.svg");
  background-repeat: no-repeat;
  background-position: -47px 0;
}

.reviews__heading {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 48px;

  text-align: center;

  @include bold(24px, 1.25em, $black);
}

.reviews__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__item {
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 38px;
  }
}

.reviews__content {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  margin-bottom: 32px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 50px;

  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(47, 55, 237, 0.1);

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 26px;

    box-sizing: border-box;
    width: 18px;
    height: 15px;

    background-image: url("../img/reviews/reviews-vector.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.reviews__author {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include regular(14px, 1.44em, $lightgrey);
}

.reviews__text {
  box-sizing: border-box;
  margin: 0;

  @include regular(14px, 1.72em, $lightgrey);
}

.reviews__photo-wrapper {
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  margin: 0;
  overflow: hidden;

  background-color: #ffffff;
  border-radius: 50%;
}

.reviews__author-photo {
  box-sizing: border-box;
  width: 74px;
  height: 74px;

  @include responsive-image;
}

.reviews__articles-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 88px 94px 66px;

    background-image: url("../img/reviews/bg-reviews-tablet.svg");
    background-position: -4px 0;
  }

  .reviews__heading {
    margin-bottom: 64px;

    font-size: 30px;
    text-align: left;
  }

  .reviews__item {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;

    padding: 64px 130px 80px;

    background-image: url("../img/reviews/bg-reviews-desktop.svg");
    background-position: 76px 0;
  }

  .reviews__heading {
    font-size: 35px;
  }

  .reviews__list {
    position: relative;
  }

  .reviews__item {
    width: 560px;

    &:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  .reviews__content {
    padding: 40px 40px 50px;
  }

  .reviews__articles-list {
    position: absolute;
    right: 114px;
    bottom: 34px;

    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .reviews__article {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    padding: 80px;
    padding-top: 134px;
    overflow: hidden;

    text-align: center;

    background-image: url("../img/reviews/reviews-doc-icon.svg"),
      url("../img/reviews/reviews-article-bg.svg");
    background-repeat: no-repeat;
    background-position: top 62px center, center;
    border-radius: 50%;
  }

  .reviews__article-heading {
    box-sizing: border-box;
    width: 110px;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 0;

    @include regular(12px, 1.44em, $blue);
  }

  .reviews__article-link {
    display: block;
    box-sizing: border-box;
    width: 64px;
    margin: 0 auto;

    text-decoration: none;

    background-image: url("../img/reviews/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center right;

    @include regular(12px, 1.44em, $blue);
  }
}
