.button {
  display: block;
  box-sizing: border-box;
  padding: 14px 35px;

  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  transition: 0.1s ease-in-out;

  @include bold(14px, 1.5em, $white);

  &--fill {
    background-color: $lightgreen;
  }

  // &--border:hover {
  //   color: #ffffff;

  //   background-color: #444444;
  // }

  // &--border:active {
  //   color: rgba(255, 255, 255, 0.3);

  //   background-color: #444444;
  // }
}
