.gallery {
  box-sizing: border-box;
  padding: 56px 0 30px;
}

.gallery__heading {
  box-sizing: border-box;
  margin: 0;
  margin: 0 8px 0 8px;
  margin-bottom: 28px;

  text-align: center;

  @include bold(24px, 1.25em, $black);
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery__item {
  box-sizing: border-box;
  width: 158px;
  height: 135px;
  margin-bottom: 6px;

  &:nth-child(odd) {
    margin-right: 4px;
  }

  &:nth-child(n+6) {
    margin-bottom: 0;
  }
}

.gallery__image {
  box-sizing: border-box;
  width: 158px;
  height: 135px;

  @include responsive-image;
}
