.header__container {
  position: relative;

  box-sizing: border-box;
  padding: 30px 8px;

  background-image: url("../img/bg-header-photo-mobile.png"),
    url("../img/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-position: -480px -480px, -480px -480px;
}
