.header__container {
  position: relative;

  box-sizing: border-box;
  padding: 30px 8px;

  background-image: url("../img/header-photo-bg-mobile@1x.png"),
    url("../img/header-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/header-photo-bg-mobile@1x.png"),
      url("../img/header-bg.svg");
  }
}
