.header__container {
  position: relative;

  box-sizing: border-box;
  padding: 30px 0;
  padding-right: 8 / 320 * 100%;
  padding-left: 8 / 320 * 100%;

  background-image: url("../img/header/bg-header-photo-mobile.png"),
    url("../img/header/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-position: -480px -480px, -480px -480px;
}

@media (min-width: $tablet-width) {
  .header__container {
    padding: 42px 16px;

    background-image: url("../img/header/bg-header-photo.png"),
      url("../img/header/bg-header.svg");
    background-position: -120px -480px, -120px -480px;
  }
}
