.info__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 46px 8px 46px;

  background-color: $blue;
}

.info__cities {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  list-style: none;
}

.info__city {
  box-sizing: border-box;

  text-transform: uppercase;

  @include regular(14px, 1.2em, $white);

  &:hover {
    font-weight: bold;
  }

  &--current {
    font-weight: bold;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.info__city-link {
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.info__join-button {
  width: 160px;
  padding: 13px 25px;

  text-transform: none;

  background-color: $white;

  @include regular(14px, 1.2em, $blue);
}

.info__bottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-sizing: border-box;
  padding: 42px 8px 46px;

  background-color: #185fbf;
}

.info__copyright {
  box-sizing: border-box;
  margin: 0;

  @include regular(14px, 1.2em, rgba($white, 0.7));
}

.info__docs {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.info__doc {
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.info__doc-link {
  display: block;
  box-sizing: border-box;

  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-in-out;

  @include regular(14px, 1.2em, rgba($white, 0.7));

  &:hover {
    color: rgba($white, 1);
  }

  &:active {
    color: rgba($white, 0.5);
  }
}

@media (min-width: $tablet-width) {
  .info__top {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 16px 50px;
  }

  .info__cities {
    flex-direction: row;
    margin-bottom: 0;
  }

  .info__city {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 26px;
    }
  }

  .info__bottom {
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 16px;
  }

  .info__docs {
    margin-bottom: 0;
  }

  .info__doc-link {
    text-align: left;
  }
}
