.nav {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 72px;
}

.nav__cities {
  display: none;
}

.nav__join-button {
  display: block;
  box-sizing: border-box;
  padding: 0;

  text-transform: none;

  background: none;
  border: none;

  @include regular(14px, 1.44em, $white);
}

@media (min-width: $tablet-width) {
  .nav {
    align-items: flex-start;
    margin-bottom: 14px;

    &--no-js {
      margin-bottom: 54px;
    }
  }

  @media (max-width: $only-portable) {
    .nav__cities {
      display: block;
      margin-right: 112px;
    }
  }
}
