.result {
  box-sizing: border-box;
  padding: 196px 0;
  padding-right: 8 / 320 * 100%;
  padding-left: 8 / 320 * 100%;

  background-image: url("../img/result/bg-result-mobile.svg");
  background-repeat: no-repeat;
  background-position: -387px -64px;
}

.result__heading {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 38px;

  text-align: center;

  @include bold(24px, 1.25em, $white);
}

.result__points {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

.result__point {
  box-sizing: border-box;
  padding: 158px 42px 50px 62px;

  background-color: $white;
  background-repeat: no-repeat;
  background-position: 62px 56px;
  background-size: 60px 60px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(47, 55, 237, 0.1);

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &--start {
    background-image: url("../img/result/bg-lightbulb@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/result/bg-lightbulb@2x.png");
    }
  }

  &--practice {
    background-image: url("../img/result/bg-process@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/result/bg-process@2x.png");
    }
  }

  &--tools {
    background-image: url("../img/result/bg-sheets@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/result/bg-sheets@2x.png");
    }
  }

  &--cases {
    background-image: url("../img/result/bg-chart@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/result/bg-chart@2x.png");
    }
  }
}

.result__point-heading {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  text-transform: uppercase;

  @include regular(14px, 1.44em, $blue);
}

.result__point-description {
  box-sizing: border-box;
  margin: 0;

  @include regular(14px, 1.82em, $lightgrey);
}

@media (min-width: $tablet-width) {
  .result {
    padding: 212px 106px 238px 96px;

    background-image: url("../img/result/bg-result-tablet.svg");
    background-repeat: no-repeat;
    background-position: -387px -50px;
  }

  .result__heading {
    margin-bottom: 70px;

    text-align: left;

    font-size: 30px;
  }

  .result__point {
    padding: 56px 62px;

    padding-left: 152px;
    min-height: 278px;
    background-position: 56px 56px;

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  .result__point-description {
    line-height: 1.44em;
  }
}
