.statistics {
  box-sizing: border-box;
  padding: 26px 8px 66px;
}

.statistics__heading {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 68px;

  text-align: center;

  @include bold(24px, 1.25em, $black);
}

.statistics__points {
  box-sizing: border-box;
  margin: 0;
  padding: 0 12px;

  list-style: none;
}

.statistics__point {
  box-sizing: border-box;
  min-height: 235px;
  padding: 40px 22px 20px 50px;

  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 30px 100px rgba(47, 55, 237, 0.1);

  @include regular(14px, 1.44em, $lightgrey);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.statistics__rate {
  display: block;
  box-sizing: border-box;
  margin-bottom: 14px;

  @include bold(24px, 1.44em, $blue);
}
