$mobile-width: 320px;
$tablet-width: 5000px;
$tablet-width: 768px;
$desktop-width: 5000px;
$desktop-width: 1440px;
$only-portable: 1439px;

// colors
$black: #000000;
$white: #ffffff;
$lightgrey: #636363;
$blue: #2f80ed;
$lightgreen: #52d1bc;
